.item {
  display: flex;
  align-items: center;
  max-width: 200px;
  border: 1px solid navy;
  border-radius: 5px;

  padding: 10px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.isOnline {
  background-color: green;
}
.avatar {
  margin: 0 10px;
}
.name {
  text-align: center;
  font-weight: bold;
}
