.statistics {
  padding: 20px;
}
.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.statList {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 0 auto 30px;
}
